<ion-navbar class="navbar navbar-absolute">
  <div class="container-fluid">
      <div class="navbar-left">
        <div class="title"> {{translationsMap?.get('LABEL_CHAT')}}</div>
      </div>
      <div class="navbar-right">
        <!-- test site -->
        <ng-container *ngIf="project && roles?.[PERMISSIONS.SIMULATE_CONV]">
          <button class="btn simulate-visitor-btn" (click)="testWidgetPage()">
            <i class="material-icons">play_arrow</i>
            <!-- {{translationsMap?.get('NAVBAR.SIMULATE_VISITOR')}} -->
          </button>
        </ng-container>

        <!--  Sound on / off -->
        <ng-container *ngIf="project">
          <button class="btn volume" style="cursor: pointer;" *ngIf="isSoundEnabled" (click)="onClickSound('disabled')">
            <i class="material-icons">volume_up</i>
          </button>
          <button class="btn volume" style="cursor: pointer;" *ngIf="!isSoundEnabled" (click)="onClickSound('enabled')">
            <i class="material-icons">volume_off</i>
          </button>
        </ng-container>

        <!--  ------ PROJECTS  DROPDOWN ------ -->
        <ng-container *ngIf="project && roles?.[PERMISSIONS.CHANGE_PROJECT]">
            <li>
              <button class="btn dropdown-toggle project-dropdown" (click)="toggleProjectsDropdown()">
                <span class="project-dropdown" style="text-transform: none"> {{ project?.id_project?.name }} </span>
                <i class="material-icons" style="margin-right: 3px;">arrow_drop_down</i>
              </button>
              <div class="ripple-container"></div>
              <div id="navbar_dropdown" class="dropdown-menu" [ngClass]="{'open': openDropdownProjects}">
                
                <!--  PROJECT SETTINGS  -->
                <!-- <li *ngIf="USER_ROLE !== 'agent'">
                  <a (click)="onClickDropdownOption('projectSettings')">
                    <i class="material-icons" style="padding-right: 5px; margin-bottom: 2px; font-size: 20px">settings</i>
                    {{translationsMap?.get('NAVBAR.PROJECT_SETTINGS')}}
                  </a>
                </li> -->
  
                <!--  ALL PROJECTS -->
                <li (click)="onClickDropdownOption('allProjects')" class="all-projects">
                  <a>
                    <i class="material-icons">view_list</i>
                    {{translationsMap?.get('NAVBAR.VIEW_ALL_PROJECTS')}}
                  </a>
                </li>
  
                <!--  ADD PROJECT -->
                <li id="navbar_create_prjct" *ngIf="isVisibleMT" (click)="onClickDropdownOption('addProject')" class="add-project">
                  <a>
                    <i class="material-icons">add_circle_outline </i>
                    {{translationsMap?.get('NAVBAR.ADD_PROJECT')}}
                  </a>
                </li>
  
                <li class="divider"></li>
  
                <!--  RECENT PROJECTS -->
                <li class="section-title">
                    {{translationsMap?.get('NAVBAR.RECENT_PROJECTS')}}
                </li>
                <!-- 
                ***** ngFor - reverse order of output using the index *****
                Reverse() works in place. It means, it will change the original array. 
                Slice without parameters returns a copy of projects, so original array, in this case, stays unchanged.  
                let prjct of projects?.reverse()
                -->
                <!-- *ngFor="let prjct of projects?.slice().reverse() | slice:0:5; let i=index" -->
                <li *ngFor="let prjct of projects?.slice() | slice:0:5; let i=index" style="cursor: pointer">
                  <a (click)="goToHome(prjct?.id_project?._id, prjct?.id_project?.name)"
                    [ngClass]="{'li-selected' : prjct?.id_project?._id === project?.id_project?.id }"
                    class="project-item-row">
                    <span class="project-item-name">{{ prjct?.id_project?.name }}</span>
                    <span class="project-item-status project-item-status-wrapper"
                      [attr.title]="translationsMap?.get(prjct?.teammateStatus?.label) || prjct?.teammateStatus?.name"
                      (click)="toggleStatusDropdown($event, prjct)">
                      <img style="width: 15px; height: 15px; position: relative; top: 1px; cursor: pointer;" height="15" width="15" [src]="prjct?.teammateStatus?.avatar" />
                      <div class="status-dropdown status-dropdown-fixed" *ngIf="openStatusDropdownProjectId === prjct?.id_project?._id" (click)="$event.stopPropagation()"
                        [style.top.px]="statusDropdownPosition.top" [style.right.px]="statusDropdownPosition.right">
                        <div class="status-dropdown-option" *ngFor="let status of TEAMMATE_STATUS"
                          (click)="$event.stopPropagation(); onChangeProjectStatus(prjct, status.id)">
                          <img style="width: 15px; height: 15px; margin-right: 6px;" [src]="status.avatar" />
                          <span>{{ translationsMap?.get(status.label) || status.name }}</span>
                        </div>
                      </div>
                    </span>
                  </a>
                </li>

                <ng-container *ngIf="projects?.length > 5">
                  <li class="divider"></li>
                  <li class="section-title">
                    {{translationsMap?.get('NAVBAR.OTHER_PROJECTS')}}
                  </li>
    
                  <!-- *ngFor="let prjct of projects?.slice().reverse() | slice:5:10; let i=index" -->
                  <li *ngFor="let prjct of projects?.slice() | slice:5:10; let i=index" style="cursor: pointer">
                    <a (click)="goToHome(prjct?.id_project?._id, prjct?.id_project?.name)" class="project-item-row">
                      <span class="project-item-name">{{ prjct?.id_project?.name }}</span>
                      <span class="project-item-status project-item-status-wrapper"
                        [attr.title]="translationsMap?.get(prjct?.teammateStatus?.label) || prjct?.teammateStatus?.name"
                        (click)="toggleStatusDropdown($event, prjct)">
                        <img style="width: 15px; height: 15px; position: relative; top: 1px; cursor: pointer;" height="15" width="15" [src]="prjct?.teammateStatus?.avatar" />
                        <div class="status-dropdown status-dropdown-fixed" *ngIf="openStatusDropdownProjectId === prjct?.id_project?._id" (click)="$event.stopPropagation()"
                          [style.top.px]="statusDropdownPosition.top" [style.right.px]="statusDropdownPosition.right">
                          <div class="status-dropdown-option" *ngFor="let status of TEAMMATE_STATUS"
                            (click)="$event.stopPropagation(); onChangeProjectStatus(prjct, status.id)">
                            <img style="width: 15px; height: 15px; margin-right: 6px;" [src]="status.avatar" />
                            <span>{{ translationsMap?.get(status.label) || status.name }}</span>
                          </div>
                        </div>
                      </span>
                    </a>
                  </li>
                </ng-container>
  
              </div>
            </li>
        </ng-container>

        
      </div>
  </div>
</ion-navbar>
